/*
**	animation
*/


#screensaver-output {
	--duration: 1s;			/*  this will need to be updated centrally by the app  */
}


[data-animation=dash-linear] #screensaver-group {
	transition: stroke-dashoffset 0s;

	animation-name: full-dashoffset;
	animation-duration: var(--duration);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


[data-animation=dash-ease] #screensaver-group {
	transition: stroke-dashoffset 0s;

	animation-name: full-dashoffset;
	animation-duration: calc(1.5 * var(--duration));
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


[data-animation=dash-steps] #screensaver-group {
	transition: stroke-dashoffset 0s;

	animation-name: full-dashoffset;
	animation-duration: var(--duration);
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-direction: normal;
}


[data-animation=dash-pulse] #screensaver-group {
	transition: stroke-dashoffset 0s;
	animation-name: full-dashoffset;
	animation-duration: var(--duration);
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

[data-animation=dash-alternate] #screensaver-group {
	transition: stroke-dashoffset 0s;
	animation-name: full-dashoffset;
	animation-duration: calc(2 * var(--duration));
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


[data-animation=dash-mechanical] #screensaver-group {
	transition: stroke-dashoffset 0s;
	animation-name: full-dashoffset;
	animation-duration: calc(.75 * var(--duration));
	animation-timing-function: cubic-bezier(1,0,0,1);
	animation-iteration-count: infinite;
	animation-direction: normal;
}



@keyframes full-dashoffset {
	from {
		stroke-dashoffset: 0px;
	}
	to {
		stroke-dashoffset: var(--to-stroke-dashoffset);
	}
}


[data-animation=stroke-linear] #screensaver-group {
	/* transition: stroke-dashoffset 0s; */
	animation-name: stroke-width;
	animation-duration: var(--duration);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}



@keyframes stroke-width {
	from {
		stroke-width: 0px;
	}
	to {
		stroke-dashoffset: var(--stroke-width);
	}
}








