/*
**	screensaver.css
*/




#screensaver-output {

	--stroke-dasharray: 1ex 10ex;
	--to-stroke-dashoffset: 11ex;
	--stroke-width: 2em;
	--stroke-linejoin: miter;
	--stroke-linecap: butt;
	--blend-mode: normal;

	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-behavior: allow-discrete;

	mix-blend-mode: var(--blend-mode);

	svg, svg * {
		transition-property: d, x, y, width, height, cx, cy, r, rx, ry, transform, rotate;
	}
}



.svg-screensaver {

	width: 100vw;
	height: 100vh;

	.viewBox {
		x: -100%;
		y: -100%;
		width: 200%;
		height: 200%;
		fill: url(#pattern-grid);
	}

	.grid {
		stroke: teal;
		fill:none;
		stroke-width: 1px;
	}


}/* svg-screensaver */



#screensaver-group {
	--start-colour: orange;
	--opacity: 0.5;
	--degrees:0;


	stroke-width: var(--stroke-width);
	stroke-linejoin: var(--stroke-linejoin);
	stroke-linecap: var(--stroke-linecap);

	stroke-miterlimit: 20;

	* {
		stroke: lch(from var(--start-colour) l c calc(h + var(--degrees)) / 1) ;
		fill: lch(from var(--start-colour) l c calc(h + var(--degrees)) / var(--fill-opacity)) ;
	}


	&.evenodd path {
		fill-rule: evenodd; /* fill-rule: nonzero  */
	}


	&.ant-crawl {

		stroke-width: var(--stroke-width);
		stroke-dasharray: var(--stroke-dasharray);

		/* transition: none; */
		transition: stroke-dashoffset 0s;

		animation-name: ant-crawl;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}


}



@keyframes ant-crawl {
	from {
		stroke-dashoffset: 0px;
	}

	to {
		stroke-dashoffset: var(--to-stroke-dashoffset);
	}
}



