/*
**	screensaver.css
*/




#screensaver-output {

	--stroke-dasharray: 5cm 5cm;
	--to-stroke-dashoffset: 10cm;
	--stroke-width: 5mm;
	--stroke-linejoin: miter;
	--stroke-linecap: butt;
	--blend-mode: normal;

	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-behavior: allow-discrete;

	/* transition-property: all; */



	svg, svg * {
		transition-property: fill, stroke, d, x, y, width, height, cx, cy, r, rx, ry, transform, rotate;
		transition-duration: 1s;
		transition-timing-function: linear;
		transition-behavior: allow-discrete;
	}
}



.svg-screensaver {

	width: 100vw;
	height: 100vh;

	.viewBox {
		x: -100%;
		y: -100%;
		width: 200%;
		height: 200%;
		fill: url(#pattern-grid);
	}

	.grid {
		stroke: teal;
		fill:none;
		stroke-width: 1px;
	}


}/* svg-screensaver */



#screensaver-group {
	--fill-colour: cyan;
	--fill-opacity: 0.7;
	--stroke-colour: orange;
	--stroke-opacity: 0.7;

	--degrees:0;

	stroke-width: var(--stroke-width);
	stroke-linejoin: var(--stroke-linejoin);
	stroke-linecap: var(--stroke-linecap);

	stroke-miterlimit: 20;


	mix-blend-mode: var(--blend-mode);		/* still unsure where exactly this needs to be applied; ff and chr render some modes differently */

	* {
		mix-blend-mode: var(--blend-mode);

		/* transition: mix-blend-mode 1s linear;  not working for me */

		/*
		fill:	lch(from var(--fill-colour)		l c calc(h + var(--degrees)) / var(--fill-opacity)) ;
		stroke:	lch(from var(--stroke-colour)	l c calc(h + var(--degrees)) / var(--stroke-opacity)) ;
 		*/
		/* --sibling-index : sibling-index();
		--sibling-count : sibling-count(); */

		--deg : calc(360 * var(--sibling-index)  / var(--sibling-count));

		fill:	lch(from var(--fill-colour)		l c calc(h + var(--deg)) / var(--fill-opacity) );
		stroke:	lch(from var(--stroke-colour)	l c calc(h + var(--deg)) / var(--stroke-opacity) );

	}

	&.evenodd path {
		fill-rule: evenodd; /* fill-rule: nonzero  */
	}

}/* screensaver-group */



[data-stroke-dash=true] #screensaver-group {
	stroke-dasharray: var(--stroke-dasharray);
}
