/*
**	screensaver.css
*/




#screensaver-output {

	--stroke-dasharray: 1ex 10ex;
	--to-stroke-dashoffset: 11ex;
	--stroke-width: 2em;
	--stroke-linejoin: miter;
	--stroke-linecap: butt;
	--blend-mode: normal;

	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-behavior: allow-discrete;

	/* transition-property: all; */

	svg, svg * {
		transition-property: d, x, y, width, height, cx, cy, r, rx, ry, transform, rotate;

		transition-duration: 0.5s;
		transition-timing-function: linear;
		transition-behavior: allow-discrete;
	}
}



.svg-screensaver {

	width: 100vw;
	height: 100vh;

	.viewBox {
		x: -100%;
		y: -100%;
		width: 200%;
		height: 200%;
		fill: url(#pattern-grid);
	}

	.grid {
		stroke: teal;
		fill:none;
		stroke-width: 1px;
	}


}/* svg-screensaver */



#screensaver-group {
	--fill-colour: cyan;
	--fill-opacity: 0.7;
	--stroke-colour: orange;
	--stroke-opacity: 0.7;

	--degrees:0;


	stroke-width: var(--stroke-width);
	stroke-linejoin: var(--stroke-linejoin);
	stroke-linecap: var(--stroke-linecap);

	stroke-miterlimit: 20;



	* {
		mix-blend-mode: var(--blend-mode);
		fill:	lch(from var(--fill-colour)		l c calc(h + var(--degrees)) / var(--fill-opacity)) ;
		stroke:	lch(from var(--stroke-colour)	l c calc(h + var(--degrees)) / var(--stroke-opacity)) ;
	}


	&.evenodd path {
		fill-rule: evenodd; /* fill-rule: nonzero  */
	}

}



[data-stroke-dash=true] #screensaver-group {
	stroke-dasharray: var(--stroke-dasharray);
}

/*
**	dash animations
*/


[data-dash-animation=linear] #screensaver-group {
	transition: stroke-dashoffset 0s;

	animation-name: full-dashoffset;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


[data-dash-animation=pulse] #screensaver-group {
	transition: stroke-dashoffset 0s;
	animation-name: full-dashoffset;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

[data-dash-animation=alternate] #screensaver-group {
	transition: stroke-dashoffset 0s;
	animation-name: full-dashoffset;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}



@keyframes full-dashoffset {
	from {
		stroke-dashoffset: 0px;
	}
	to {
		stroke-dashoffset: var(--to-stroke-dashoffset);
	}
}








