/*
**	user-interface.css
*/


.panel-group {

	&.group-left {
		position:absolute;
		left:0ex;
	}

	&.group-right {
		position:absolute;
		right:0ex;
	}
}



.ui-panel {

	--border-colour: #aaa;

	font-family:sans-serif;

	min-width: 14rem;

	display: grid;
	border:1px solid var(--border-colour);


	/* background-color:#7777; */
	/* hsl( from var(--row-colour)    h s clamp(20,l,80) / var(--border-alpha)) */

	background-color: hsl( from var(--html-background) h s clamp(30,l,80) / 0.5);


	border-radius: 1ex;
	padding:1ex;
	margin: 1ex;


	:nth-child(1) { margin-top:0em; }



	details {
		margin:1ex 0em;
		summary {
			cursor:pointer;
			border-bottom: 1px solid transparent;
			margin-bottom: 0.5ex;
		}
		summary:hover {
			border-bottom: 1px solid var(--border-colour);
		}
	}

	details>div {	display: grid; 	}
	summary>h3 { display:inline-block; margin: 0ex 0ex 0.1ex;}


	label {
		margin-top: 1ex;
		h1,h2,h3,h4,h5 {
			display:inline-block;
		}
	}

	input, option { text-align: center; padding:1pt; }

	h1 { font-size:2rem; }
	h2 { font-size:1.6rem; margin-top:2ex; margin-bottom:1ex; }
	h3 { font-size:1.2rem; margin-top:2ex; margin-bottom:1ex; }
	h4 { font-size:1rem; margin-top:1ex; margin-bottom:.6ex; }


	label:has(h2) { margin-top:2ex; }

	.colourWithRandom {

		input[type=color], button {
			width:48%;
			height:4ex;
			padding:0px;
			margin:0px;
			vertical-align: middle;
		}
	}

	/* label:after { content:':'; } */
	label.noafter:after { content:''; }

	hr { width:100%;  } /* border:1px dotted silver inset; */

}/* ui-panel */




#button-playPause::after {
	content: '[' attr(data-play-state) ']';
	font-weight:bold;
}


#button-playPause[data-play-state=playing] {
	/* background-color: hsl( from lime h 10 50 / 1); */
	outline: 2px solid lime;
	/* border:1px solid lime; */
	filter: drop-shadow(0px 0px 3px lime);
}
#button-playPause[data-play-state=paused] {
	/* background-color: hsl( from orange h 10 50 / 1 ); */
	outline: 2px solid orange;
	/* border:1px solid orange; */
	filter: drop-shadow(0px 0px 3px orange);
}

#select-screensaver {
	height: 7rem;

	option { text-align:left; }

	option[selected] {
		font-size: 1.5rem;
		font-weight:bold;
		text-align:center;
	}
}


#dialog-appInfo {
	/* backdrop-filter: blur(20px); */
	border-radius: 1em;
	padding:1em;
	border: 3px solid var(--accent);
	opacity: 95%;
	box-shadow: 0px 0px 3em var(--accent);


	dl {
		display: grid;
		grid-template-columns: 2fr 3fr ;
		margin:1em;
		font-size:1em;
	}
	dt {
		margin: 0em 1em;
		white-space: nowrap;
		font-family: monospace;
	}
	dd {
		margin: 0em 1em;
	}
	kbd {
		display:inline-block;
		border-radius: 1ex;
		border: 1px dotted grey;
		text-align:center;
		width:3ex;
	}


	&::backdrop {
		background-image:  url('../favicon.svg');
		backdrop-filter: blur(1pt) brightness(40%);
		background-position: center;
		background-repeat: repeat;

		background-size: 15vh;
		background-color: var(--accent);
		opacity: 0.8;
	}

}




