/*
**	user-interface.css
*/


.panel-group {

	&.group-left {
		position:absolute;
		left:0ex;
	}

	&.group-right {
		position:absolute;
		right:0ex;
	}
}



.ui-panel {


	.colourWithRandom {

		input[type=color], button {
			width:48%;
			height:4ex;
			padding:0px;
			margin:0px;
			vertical-align: middle;
		}
	}


}/* ui-panel */




#button-playPause::after {
	content: '[' attr(data-play-state) ']';
	font-weight:bold;
}


#button-playPause[data-play-state=playing] {
	/* background-color: hsl( from lime h 10 50 / 1); */
	outline: 2px solid lime;
	/* border:1px solid lime; */
	filter: drop-shadow(0px 0px 3px lime);
}
#button-playPause[data-play-state=paused] {
	/* background-color: hsl( from orange h 10 50 / 1 ); */
	outline: 2px solid orange;
	/* border:1px solid orange; */
	filter: drop-shadow(0px 0px 3px orange);
}



#select-screensaver {
	height: 7rem;
	margin:1em 0em;

	option {
		text-align: left;
		transition: all var(--transition-time-ui) ease allow-discrete;
		interpolate-size: allow-keywords;
	}

	option:checked {
		font-size: 1.5rem;
		font-weight:bold;
		text-align:center;
	}
}


#dialog-appInfo::backdrop {
	background-image:  url('../favicon.svg');
}